<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechfairKinect.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
      <!-- Implementations -->
      <add key="SkeletonUpdaterImplementation" value="Kinect"/>
      <add key="GraphicsImplementation" value="Gdi"/>
      <add key="ParticleImplementation" value="Circular"/>
      
      <!-- Physics -->
      <add key="FrictionCoefficient" value="0.0003"/>
      <add key="RestoringCoefficient" value="0.0004"/>
      <add key="MaxVelocity" value="0.0007" />
      
      <!-- Particle Controller -->
      <add key="ScreenThresholdHeightPercentage" value="0.7"/>
      <add key="ExplodeVelocity" value="0.001"/>
      <add key="PositionsRemembered" value="20"/>
      
      <!-- Particle Generation -->
      <add key="ParticleFont" value="Helvetica"/>
      <!-- <add key="ParticleFont" value="Vladimir Script"/> -->
      <add key="ParticleRadius" value="5.0"/>
      <add key="ParticleString" value="tech fair"/>
    </appSettings>
</configuration>